<!--
 * Copyright 2017 jagrosh.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 -->
 
<configuration>
    <!-- author: Kaidan Gustave  -->
    <property name="pattern" value="%nopex[%d{HH:mm:ss}] [%level] [%logger{0}]: %msg%n%ex" />
    
    <!-- appenders -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/log.%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder><pattern>${pattern}</pattern></encoder>
    </appender>
    
    <appender name="DEBUG-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/log-debug.%d{yyyy-MM-dd}.txt</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder><pattern>${pattern}</pattern></encoder>
    </appender>
    
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder><pattern>${pattern}</pattern></encoder>
    </appender>
    
    <!-- loggers -->
    <logger name="com.jagrosh.giveawaybot.GiveawayManager" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG-FILE"/>
    </logger>
    
    <logger name="com.jagrosh.giveawaybot.GiveawayListener" level="DEBUG" additivity="false">
        <appender-ref ref="DEBUG-FILE"/>
    </logger>
    
    <root level="INFO">
        <appender-ref ref="FILE" />
        <!--appender-ref ref="FILE"/-->
    </root>
    
</configuration>